@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

ul {
  list-style-type: none;
}

a  {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.headline-style {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


/* HEADER */


.navigation {
  display: flex;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0;
}

.navigation-logo {
  display: flex;
  align-items: flex-end;
}

.page-header-logo {
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  border-bottom: 2px solid #000000;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 320px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.navigation-link-user {
  display: block;
  min-width: 44px;
  min-height: 64px;

}

.navigation-link-search {
  display: block;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  padding: 23px 13px 23px 13px;
}

.navigation-link-favorite {
  display: block;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  padding: 23px 13px 23px 13px;
  margin-right: 20px;
}

.favorites-sum {
  position: relative;
  top: -13px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #7DB54F;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
}

.button-navigation {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 34px;
  cursor: pointer;
}


/* Promo section */


.promo {
  min-height: 485px;
  background-color: #82b3d3;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.saw {
  position: relative;
  top: 2px;
  left: 0;
  background-image: url(../images/saw.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-bottom: 0;
  width: 1200px;
  height: 57px;
}


/* Advantages section */

.advantages-logo {
  display: block;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 25px;
  padding-left: 290px;
  padding-right: 290px;
  text-align: center;
}

.advantages-logo-description {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 90px;
  padding-left: 274px;
  padding-right: 274px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  min-width: 400px;
  min-height: 384px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-title {
  margin: 0;
  padding-top: 92px;
  padding-bottom: 31px;
  padding-left: 112px;
  padding-right: 112px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.white-line::before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.grey-line::before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-title-img {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 112px;
  padding-right: 112px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
  width: 230px;
}

.decorative-image-house {
  width: 800px;
  max-height: 384px;
  margin: 0;
  padding: 0;
  background-color: #82b3d3;
  background-image: url(../images/photo-house.jpg);
}

.decorative-image-bridge {
  order: -1;
  width: 800px;
  max-height: 384px;
  margin: 0;
  padding: 0;
  background-color: #82b3d3;
  background-image: url(../images/photo-bridge.jpg);
}

.background-blue {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.background-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.house {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  margin: 80px auto 30px auto;
  width: 75px;
  height: 72px;
}

.food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  margin: 81px auto 31px auto;
  width: 74px;
  height: 70px;
}

.souvenir {
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
  margin: 78px auto 28px auto;
  width: 64px;
  height: 76px;
}


/* Search section */

.search {
  margin: 0;
  padding: 0;
  text-align: center;
}

.search-title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  padding-left: 452px;
  padding-right: 452px;
}

.search-description {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 54px;
  padding-left: 304px;
  padding-right: 304px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotels {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  text-decoration: none;
  background-color: rgba(117, 97, 87, 1);
  border: none;
  border-radius: 4px;
  margin-bottom: 96px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}


/* Subscribe section */

.subscribe {
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url(../images/background-subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  padding-left: 398px;
  padding-right: 398px;
}

.subscribe-description {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 54px;
  padding-left: 363px;
  padding-right: 363px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
  width: 684px;
}

.subscribe-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.subscribe-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  cursor: pointer;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.main-footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-footer-item {
  display: flex;
  justify-content: end;
  align-items: end;
}

.icon {
  position: relative;
  top: 5px;
  padding: 11px 13px;
  margin-bottom: 35px;
}

.icon {
  position: relative;
  top: 5px;
  padding: 11px 13px;
  margin-bottom: 35px;
}

.icon {
  position: relative;
  top: 5px;
  padding: 11px 13px;
  margin-bottom: 35px;
}

.icon:hover path {
  fill: rgba(104, 162, 202, 1);
}

.icon:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.icon-html {
  position: relative;
  top: 51px;
  margin-bottom: 35px;
}

.icon-html:hover path {
  fill: rgba(117, 97, 87, 1);
}

.icon-html:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-contacs {
  padding-top: 45px;
  padding-bottom: 35px;
  display: block;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-contacs:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacs:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-logo {
  display: block;
  min-width: 115px;
  min-height: 33px;
  margin: 0;
  padding: 0;
}



/*  */
/* INNER PAGE */
/*  */



.container-filter {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url(../images/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


/* Inner header */


.inner-header {
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.inner-header-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 0 40px 0;
}

.inner-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 10px;
  min-width: 13px;
  min-height: 15px;
}

.inner-header-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.inner-header-link:hover {
  opacity: 0.6;
  outline: none;
}

.inner-header-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.inner-header-link:disabled {
  opacity: 0.1;
  outline: none;
}

.decorative-arrow {
  min-width: 8px;
  min-height: 13px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* catalog-section */


.catalog-hotels {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-infrastructure {
  margin-bottom: 73px;
  margin-right: 70px;
  padding: 0;
}

.catalog-filter-type {
  margin-bottom: 73px;
  margin-right: 70px;
  padding: 0;
}

.control-input {
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  margin-top: 32px;
  padding: 0;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 157px;
  cursor: pointer;
}

.button-apply {
  margin-bottom: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  cursor: pointer;
}

.button-reset {
  margin-bottom: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  background-color: rgba(130, 179, 211, 0);
  border: none;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset:disabled {
  opacity: 0.1;
  outline: none;
}

/* Title catolog section */


.title-catalog-cards {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}

.select-container {
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.select-control {
  border-color: #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
  margin-left: 200px;
  min-width: 292px;
  height: 49px;
}

.select-control:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}

.select-control:active {
  border: 2px solid rgba(63, 94, 114, 1);
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-grid-toggle {
 display: grid;
 grid-template-columns: repeat(3, 48px);
 column-gap: 8px;
}

.view-all-card {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
  background-image: url(../images/view-all.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-one-card {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
  background-image: url(../images/view-one.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-card-list {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
  background-image: url(../images/view-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-border:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-border:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-border:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}


/* Hotel list section */


.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  padding-top: 0;
}

.hotel-card-image {
  margin: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 0;
}

.hotel-card {
  justify-items: center;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.hotel-card-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.hotel-card-price {
  justify-self: start;
  margin: 0;
}

.hotel-price {
  justify-self: end;
  margin: 0;
}

.hotel-card-more {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(117, 97, 87, 1);
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  padding-right: 26px;
  cursor: pointer;
}

.hotel-card-favorites {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.rating-stars {
  display: grid;
  grid-template-columns: repeat(5, 18px);
  column-gap: 6px;
  justify-content: start;
  margin-right: auto;
}

.star {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rating-numeral {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  text-decoration: none;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
}

/* Pogination */


.pogination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  padding: 40px 0 60px 0;
  margin: 0 70px 0 70px;
  border-top: 1px solid #e6e6e6;
}

.pogination-link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  text-decoration: none;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}

.link-one {
  background-color: #f2f2f2;
  color: #000000;
}

.link-dot {
  background-color: #fff;
  color: #000000;
}

.link-ten {
  padding-left: 18px;
  padding-right: 18px;
}


/* Button */


.button-brown:active {
  opacity: 0.6;
  outline: none;
}

.button-brown:hover  {
  background-color: rgba(97, 80, 72, 1);
  outline: none;
}

.button-brown:disabled:hover {
  background-color: rgba(229, 229, 229, 1);
  outline: none;
}




.button-blue:active {
  opacity: 0.6;
  outline: none;
}

.button-blue:hover  {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
}

.button-blue:disabled:hover {
  background-color: rgba(229, 229, 229, 1);
  outline: none;
}



.button-green {
  background-color: rgba(125, 181, 79, 1);
}

.button-green:active {
  opacity: 0.6;
  outline: none;
}

.button-green:hover  {
  background-color: rgba(108, 158, 66, 1);
  outline: none;
}

.button-green:disabled:hover {
  background-color: rgba(229, 229, 229, 1);
  outline: none;
}
